
#boton{
    width: 100%;
    color: white;
    background-color: orchid;
    padding: 12px 0px;
    border-radius: 10px;
    margin: 0 auto;
}
#map{
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat:no-repeat;
	clear: both;
}
.panel-body {
    background-color: #f1f1f3;
}
.panel-default {
    border-color: rgba(187, 180, 180, 0.87);
    border-radius: 15px;
}
.cajita 
{
	width: 92%;
	position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.icono 
{
	width: 92%;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
   border-radius: 50%;
}
p{
    font-size: 13px;
    color: darkgray;
}
#carro{
    text-align: center;
}
#precio{
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
#personal{
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid  rgba(0, 0, 0, 0.15);
}
h5{
    display: inline-block;
    padding-left: 12px;
}

